:root {
    --color-primario: #1a427e;
    --color-secundario: #B1F0F7;
    --color-terciario: #FADA7A;
    --color-letras: #F8FAFC;
    --color-letras2: #2A3335;
}

body {
    font-family: "Cera Pro", sans-serif;
}

.w-1348{
    width: 1348px !important;
}
.h-420{
    height: 420.11px !important;
}
body .bg-primary {
    background-color: var(--color-primario) !important;
}

body .bg-secondary {
    background-color: var(--color-secundario) !important;
}

body .text-primary {
    color: var(--color-primario) !important;
}

body .text-secondary {
    color: var(--color-secundario) !important;
}

.btn-primary {
    background-color: var(--color-primario) !important;
    border-color: var(--color-primario) !important;
}

.btn-primary:hover {
    background-color: darken(var(--color-primario), 10%) !important;
    border-color: darken(var(--color-primario), 10%) !important;
}

.btn-secondary {
    background-color: var(--color-secundario) !important;
    border-color: var(--color-secundario) !important;
}

.btn-secondary:hover {
    background-color: darken(var(--color-secundario), 10%) !important;
    border-color: darken(var(--color-secundario), 10%) !important;
    color: var(--color-secundario) !important;
}

.text-warning {
    color: var(--color-terciario) !important;
}

.bg-warning {
    background-color: var(--color-terciario) !important;
}

.text-light {
    color: var(--color-letras) !important;
}

.text-dark {
    color: var(--color-letras2) !important;
}

/* CSS DE LAS TARJETAS */
.card-img {
    border-radius: 0; /* Bordes redondeados */
}

.card{
    border-radius: 0;
}

.card {
    border-radius: 0;
}
/* CSS DEL CARRUSEL */
.carousel-height {
    height: 75vh;
}
.carousel-height img {
    height: 75vh;
}
/* CONTORNO A LAS LETRAS */
.contorno {
    text-shadow:
    1px 0 0 var(--color-letras2),    /* Desplaza a la derecha */
    -1px 0 0 var(--color-letras2),   /* Desplaza a la izquierda */
    0 1px 0 var(--color-letras2),    /* Desplaza abajo */
    0 -1px 0 var(--color-letras2);   /* Desplaza arriba */
}

/* CAMBIAR EL COLOR DE LA BARRA DE CARGA */
.progress-bar-custom {
    background-color: #B1F0F7; /* Color claro para la barra */
    color: #000; /* Cambiar el color del texto a negro */
  }
/* Desaparecer flechas */
@media (max-width: 767px) {
    #flechas {
        display: none;
    }
    #colaborar{
        padding-bottom: 30px;
    }
    #myVideo{
        
        height: 1000px;
    }
}
/* para que la navbar se vuelva transparente */

.navbar {
    transition: background-color 0.3s ease;
}

.navbar.transparent {
    background-color: transparent;
}

.navbar.scrolled {
    background-color: var(--color-primario);
}