:root {
    --color-primario: #1a427e;
    --color-secundario: #B1F0F7;
    --color-terciario: #FADA7A;
    --color-letras: #F8FAFC;
    --color-letras2: #2A3335;
}

body {
    font-family: "Cera Pro", sans-serif;
}

body .bg-primary {
    background-color: var(--color-primario) !important;
}

body .bg-secondary {
    background-color: var(--color-secundario) !important;
}

body .text-primary {
    color: var(--color-primario) !important;
}

body .text-secondary {
    color: var(--color-secundario) !important;
}

.btn-primary {
    background-color: var(--color-primario) !important;
    border-color: var(--color-primario) !important;
}

.btn-primary:hover {
    background-color: darken(var(--color-primario), 10%) !important;
    border-color: darken(var(--color-primario), 10%) !important;
}

.btn-secondary {
    background-color: var(--color-secundario) !important;
    border-color: var(--color-secundario) !important;
}

.btn-secondary:hover {
    background-color: darken(var(--color-secundario), 10%) !important;
    border-color: darken(var(--color-secundario), 10%) !important;
    color: var(--color-secundario) !important;
}

.text-warning {
    color: var(--color-terciario) !important;
}

.bg-warning {
    background-color: var(--color-terciario) !important;
}

.text-light {
    color: var(--color-letras) !important;
}

.text-dark {
    color: var(--color-letras2) !important;
}

/* CSS DE LAS TARJETAS */
.card-img-top {
    height: 300px;
    /* Altura fija */
    object-fit: cover;
    /* Mantener proporción */
    border-radius: 0;
    /* Bordes redondeados */
}

.card {
    border-radius: 0;
}

/* para que la navbar se vuelva transparente */

.navbar {
    transition: background-color 0.3s ease;
}

.navbar.transparent {
    background-color: transparent;
}

.navbar.scrolled {
    background-color: var(--color-primario);
}
